/**************** common css start ****************/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,300,400i,400,700|Poppins:400,500,600,700");
/* line 3, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* line 9, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
section {
  overflow: hidden !important;
}

/* line 15, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
input:hover, input:focus {
  outline: none !important;
}

/* line 18, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.gray_bg {
  background-color: #F7F7F7;
}

/* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.section-padding {
  padding: 180px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .section-padding {
    padding: 80px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .section-padding {
    padding: 70px 0px;
  }
}

@media (max-width: 576px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .section-padding {
    padding: 70px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .section-padding {
    padding: 70px 0px;
  }
}

/* line 36, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.padding_top {
  padding-top: 180px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 36, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .padding_top {
    padding-top: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 36, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .padding_top {
    padding-top: 70px;
  }
}

@media (max-width: 576px) {
  /* line 36, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .padding_top {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 36, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .padding_top {
    padding-top: 70px;
  }
}

/* line 51, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.padding_bottom {
  padding-bottom: 180px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 51, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .padding_bottom {
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 51, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .padding_bottom {
    padding-bottom: 70px;
  }
}

@media (max-width: 576px) {
  /* line 51, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .padding_bottom {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 51, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .padding_bottom {
    padding-bottom: 70px;
  }
}

/* line 66, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 69, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
a:hover, a :hover {
  color: #ff3334;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 76, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181919;
  font-family: "Poppins", sans-serif;
}

/* line 80, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
a {
  color: #181919;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 84, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
a:hover {
  color: #ff3334;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 89, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
p {
  color: #2c2c2c;
  font-family: "Poppins", sans-serif;
  line-height: 1.625;
  font-size: 14px;
  margin-bottom: 0px;
}

/* line 96, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
h1 {
  font-size: 32px;
  line-height: 1.25;
  font-weight: 600px !important;
}

@media (max-width: 576px) {
  /* line 96, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  h1 {
    font-size: 24px;
    line-height: 26px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 96, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  h1 {
    font-size: 28px;
    line-height: 26px;
  }
}

/* line 110, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
h2 {
  font-size: 29px;
  line-height: 28px;
}

@media (max-width: 576px) {
  /* line 110, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  h2 {
    font-size: 22px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 110, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  h2 {
    font-size: 24px;
    line-height: 25px;
  }
}

/* line 124, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
h3 {
  font-size: 24px;
  line-height: 25px;
}

@media (max-width: 576px) {
  /* line 124, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  h3 {
    font-size: 20px;
  }
}

/* line 133, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
h4 {
  font-size: 20px;
  line-height: 23px;
}

/* line 138, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
h5 {
  font-size: 18px;
  line-height: 22px;
}

/* line 143, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
img {
  max-width: 100%;
}

/* line 146, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
a:focus, .button:focus, button:focus, .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

/* line 172, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.section_tittle h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 80px;
  position: relative;
}

/* line 179, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.section_tittle h1:after {
  position: absolute;
  left: 0;
  height: 2px;
  width: 90px;
  content: "";
  background-color: #ff3334;
  bottom: -27px;
}

@media (max-width: 576px) {
  /* line 172, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .section_tittle h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 172, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .section_tittle h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 172, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .section_tittle h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

/* line 205, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 210, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.area-padding {
  padding: 130px 0px;
}

/* line 213, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.container {
  max-width: 1170px;
}

/* line 216, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.mb_110 {
  margin-bottom: 110px;
}

@media (max-width: 576px) {
  /* line 216, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .mb_110 {
    margin-bottom: 220px;
  }
}

/* line 223, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.pt_30 {
  padding-top: 30px;
}

@media (max-width: 991px) {
  /* line 223, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
  .pt_30 {
    padding-top: 0;
  }
}

/* line 232, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_common.scss */
.z_index {
  z-index: 9 !important;
  position: relative;
}

/**************** common css end ****************/
/**************** extend css start ****************/
/* line 29, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_extends.scss */
.banner_part:after, .breadcrumb:after {
  background: -webkit-linear-gradient(5deg, green 0%, rgba(18, 1, 248, 1.5) 100%);
  background: -webkit-linear-gradient(5deg, #415094 0%, rgba(18, 1, 248, 0.1) 100%);
  background: -ms-linear-gradient(5deg, #f4e700 0%, rgba(18, 1, 248, 0.2) 100%);
}

/**************** extend css start ****************/
/**************** menu part css start ****************/
/* line 2, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.main_menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .main_menu {
    padding: 15px 0;
  }
}

/* line 14, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.main_menu:after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(80, 190, 233, 0.582);
  z-index: -1;
  opacity: .9;
}

/* line 25, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.main_menu .navbar {
  padding: 0px;
}

/* line 28, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.main_menu .navbar .navbar-toggler {
  border: 0px solid transparent;
}

/* line 31, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.main_menu .navbar .main-menu-item {
  justify-content: flex-end;
}

@media (max-width: 991px) {
  /* line 33, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .main_menu .navbar .main-menu-item .navbar-nav {
    margin-left: 0%;
    background-color: #fff;
  }
}

/* line 39, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.main_menu .navbar .main-menu-item .navbar-nav a {
  padding: 39.5px 22px;
  font-size: 14px;
  color: #181919;
  text-transform: capitalize;
  font-weight: 700;
}

/* line 45, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.main_menu .navbar .main-menu-item .navbar-nav a:hover {
  color: #ff3334;
}

@media (max-width: 991px) {
  /* line 39, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .main_menu .navbar .main-menu-item .navbar-nav a {
    padding: 10px 22px;
    color: #000;
    background-color: #fff;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 39, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .main_menu .navbar .main-menu-item .navbar-nav a {
    padding: 30px 20px;
  }
}

/* line 66, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.dropdown-menu {
  border: 0px solid rgba(0, 0, 0, 0.15) !important;
  background-color: #fafafa;
}

/* line 72, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.dropdown .dropdown-menu {
  transition: all 0.5s;
  overflow: hidden;
  transform-origin: top center;
  transform: scale(1, 0);
  display: block;
  margin-top: -1px;
}

/* line 79, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 8px 20px !important;
}

/* line 85, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.dropdown:hover .dropdown-menu {
  transform: scale(1);
}

@media (max-width: 576px) {
  /* line 91, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .navbar-brand {
    max-width: 150px;
  }
  /* line 94, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .main_menu .navbar .main-menu-item .navbar-nav a:hover {
    color: #fff;
  }
  /* line 97, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2);
  }
  /* line 105, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .dropdown-menu {
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    background-color: #fff;
  }
  /* line 110, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    margin-top: 0px;
    text-align: center;
  }
  /* line 115, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .dropdown .dropdown-menu .dropdown-item {
    padding: 10px 15px;
  }
  /* line 120, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 128, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .navbar-brand {
    max-width: 125px;
  }
  /* line 131, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .main_menu .navbar .main-menu-item .navbar-nav a:hover {
    color: #fff;
  }
  /* line 134, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2);
  }
  /* line 143, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    text-align: center;
  }
  /* line 149, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 157, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .navbar-brand {
    max-width: 125px;
  }
  /* line 160, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .main_menu .navbar .main-menu-item .navbar-nav a:hover {
    color: #ff3334;
  }
  /* line 163, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2);
  }
  /* line 172, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .dropdown .dropdown-menu {
    transform: scale(1, 0);
    display: none;
    text-align: center;
  }
  /* line 178, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
  .dropdown:hover .dropdown-menu {
    transform: scale(1);
    display: block;
  }
}

/* line 185, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.menu_fixed {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}

/* line 191, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_menu.scss */
.menu_fixed span {
  color: #000 !important;
}

/**************** hero part css end ****************/
/************about css start***************/
/* line 2, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part {
  position: relative;
  z-index: 99;
}

/* line 7, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .section_tittle h2 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
  padding-left: 195px;
  text-transform: capitalize;
  line-height: 24px;
}

@media (max-width: 991px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .section_tittle h2 {
    padding-left: 175px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .section_tittle h2 {
    padding-left: 175px;
    margin-bottom: 20px;
  }
}

/* line 26, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .section_tittle h2:after {
  position: absolute;
  content: "";
  left: 0;
  top: 12px;
  width: 180px;
  height: 1px;
  background-color: #ff3334;
}

@media (max-width: 991px) {
  /* line 26, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .section_tittle h2:after {
    width: 140px;
    left: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 26, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .section_tittle h2:after {
    width: 140px;
    left: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 7, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .section_tittle h2 {
    margin-bottom: 40px;
  }
}

/* line 48, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .section_tittle h2 span {
  color: #ff3334;
}

/* line 54, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_img {
  position: relative;
  z-index: 1;
}

/* line 58, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_img:after {
  position: absolute;
  content: "";
  width: 48%;
  height: 100%;
  top: 77px;
  right: 0;
  background-image: url(../img/patten_bg.png);
  z-index: -1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 58, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_img:after {
    top: 36px;
    right: -15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 58, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_img:after {
    top: 36px;
    right: -15px;
  }
}

@media (max-width: 991px) {
  /* line 78, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_text {
    margin-top: 25px;
  }
}

/* line 85, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 37px;
  position: relative;
  padding-right: 20px;
}

/* line 93, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text h2 span {
  color: #ff3334;
}

@media (max-width: 576px) {
  /* line 85, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_text h2 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 85, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_text h2 {
    font-size: 25px;
    margin-bottom: 35px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 85, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_text h2 {
    font-size: 30px;
    margin-bottom: 35px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 85, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_text h2 {
    font-size: 30px;
    margin-bottom: 35px;
    line-height: 40px;
  }
}

/* line 122, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text p {
  line-height: 1.929;
  margin-bottom: 50px;
  font-weight: 300;
}

@media (max-width: 991px) {
  /* line 122, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_text p {
    margin-bottom: 0;
  }
}

/* line 134, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text .about_part_counter {
  margin-top: 74px;
}

@media (max-width: 991px) {
  /* line 134, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .about_text .about_part_counter {
    margin-top: 35px;
  }
}

/* line 142, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text .about_part_counter .single_counter {
  width: 33.33%;
  text-align: center;
  float: left;
}

/* line 147, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text .about_part_counter .single_counter span {
  font-size: 50px;
  font-weight: 300;
  line-height: 45px;
}

/* line 153, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text .about_part_counter .single_counter p {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}

/* line 159, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text .about_part_counter .single_counter:first-child {
  text-align: left;
}

/* line 163, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
.about_part .about_text .about_part_counter .single_counter:last-child {
  text-align: right;
}

@media (max-width: 991px) {
  /* line 170, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_about.scss */
  .about_part .btn_1 {
    margin-top: 25px;
  }
}


/************** project  details gallery ******************/
@media (max-width: 991px) {
  /* line 2, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery {
    padding: 70px 0 50px;
  }
}

/* line 7, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_tittle {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 11, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_tittle h2 {
  font-size: 24px;
  font-weight: 700;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 80px;
  line-height: 24px;
}

/* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_tittle h2:after {
  position: absolute;
  top: 12px;
  left: 269px;
  content: "";
  width: 180px;
  height: 1px;
  background-color: #000;
}

@media (max-width: 576px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_gallery_tittle h2:after {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_gallery_tittle h2:after {
    width: 100px;
    left: 260px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_gallery_tittle h2:after {
    width: 150px;
    left: 260px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 21, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_gallery_tittle h2:after {
    width: 150px;
    left: 280px;
  }
}

/* line 51, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_tittle h2 span {
  color: #ff3334;
}

@media (max-width: 991px) {
  /* line 11, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_gallery_tittle h2 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 11, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_gallery_tittle h2 {
    margin-bottom: 40px;
  }
}

/* line 65, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .col-lg-12 {
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;
}

@media (max-width: 991px) {
  /* line 65, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 65, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* line 81, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .grid-sizer,
.project_gallery .grid-item {
  width: 25%;
  height: auto;
}

@media (max-width: 576px) {
  /* line 81, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .grid-sizer,
  .project_gallery .grid-item {
    width: 100%;
    margin: 0;
  }
  /* line 90, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .grid-sizer img,
  .project_gallery .grid-item img {
    width: 100%;
  }
}

/* line 96, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_img {
  position: relative;
  z-index: 1;
}

/* line 100, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_img:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 576px) {
  /* line 96, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_img {
    margin-bottom: 20px;
  }
}

/* line 116, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_img img {
  max-width: 100%;
}

/* line 121, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .big_weight {
  width: 50%;
}

@media (max-width: 576px) {
  /* line 121, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .big_weight {
    width: 100%;
    margin: 0;
  }
  /* line 128, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .big_weight img {
    width: 100%;
  }
}

/* line 134, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .big_height {
  width: 50%;
  height: auto;
}

@media (max-width: 576px) {
  /* line 134, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .big_height {
    width: 100%;
    margin: 0;
  }
  /* line 142, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .big_height img {
    width: 100%;
  }
}

/* line 148, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery h2 {
  text-transform: capitalize;
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 80px;
}

@media (max-width: 576px) {
  /* line 148, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 148, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 148, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 148, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery h2 {
    margin-bottom: 40px;
    font-size: 30px;
  }
}

/* line 175, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_hover_text {
  position: absolute;
  padding: 0 0 55px 39px;
  bottom: -60px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 184, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_hover_text p {
  font-size: 14px;
  font-weight: 400;
  color: #ff3334;
  text-transform: uppercase;
}

/* line 191, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_hover_text h3 {
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  margin: 12px 0 8px;
}

/* line 196, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_hover_text h3 a {
  color: #fff;
}

/* line 198, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_hover_text h3 a:hover {
  color: #ff3334;
}

/* line 204, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_hover_text ul {
  border-top: 1px solid #fff;
  padding-top: 10px;
}

/* line 208, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_hover_text ul li {
  display: inline-block;
  color: #fff;
  margin-right: 25px;
}

@media (max-width: 991px) {
  /* line 208, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_gallery_hover_text ul li {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 208, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .project_gallery .project_gallery_hover_text ul li {
    margin-right: 15px;
  }
}

/* line 219, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .project_gallery_hover_text ul li span {
  color: #fff;
  margin-right: 12px;
  font-size: 16px;
}

/* line 231, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .grid-item:hover .project_img:after {
  opacity: .5;
}

/* line 236, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.project_gallery .grid-item:hover .project_gallery_hover_text {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}

/* line 245, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.gallery_details {
  padding: 0 0 150px;
}

@media (max-width: 991px) {
  /* line 245, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .gallery_details {
    padding: 0 0 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 245, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .gallery_details {
    padding: 0 0 50px;
  }
}

/* line 257, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.gallery_details .project_img p {
  font-size: 16px;
  color: #434343;
  line-height: 1.875;
  margin: 30px 0;
}

@media (max-width: 991px) {
  /* line 257, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .gallery_details .project_img p {
    margin: 10px 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 257, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .gallery_details .project_img p {
    margin: 10px 0;
  }
}

/* line 272, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.gallery_details .project_img .project_gallery_hover_text {
  padding: 44px 0 0;
  z-index: 99;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 277, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.gallery_details .project_img .project_gallery_hover_text p {
  font-size: 14px;
  font-weight: 400;
  color: #ff3334;
  text-transform: uppercase;
  margin: 0;
}

/* line 285, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.gallery_details .project_img .project_gallery_hover_text h3 {
  font-weight: 600;
  font-size: 28px;
  color: #000;
  margin: 12px 0 8px;
}

@media (max-width: 991px) {
  /* line 285, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .gallery_details .project_img .project_gallery_hover_text h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 285, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .gallery_details .project_img .project_gallery_hover_text h3 {
    font-size: 20px;
  }
}

/* line 300, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.gallery_details .project_img .project_gallery_hover_text ul {
  padding-top: 10px;
}

/* line 303, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.gallery_details .project_img .project_gallery_hover_text ul li {
  display: inline-block;
  color: #b1b1b1;
  margin-right: 25px;
}

@media (max-width: 991px) {
  /* line 303, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .gallery_details .project_img .project_gallery_hover_text ul li {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 303, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
  .gallery_details .project_img .project_gallery_hover_text ul li {
    margin-right: 10px;
  }
}

/* line 314, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_project_gallery.scss */
.gallery_details .project_img .project_gallery_hover_text ul li span {
  color: #b1b1b1;
  margin-right: 12px;
  font-size: 16px;
}


/**********************footer part css*******************/
/* line 2, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_footer.scss */
.footer_part {
  background-color: #3dc9f334;
  padding: 1px 0px 2px;
}


/* line 166, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_footer.scss */
.footer_part .copyright_text p {
  color: #888;
}

/* line 169, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_footer.scss */
.footer_part .copyright_text span {
  color: #ff3334;
  font-size: 12px;
}

/* line 174, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_footer.scss */
.footer_part .copyright_text p a {
  color: #ff3334;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 177, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_footer.scss */
.footer_part .copyright_text p a:hover {
  color: #ff3334;
}

/* line 181, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_footer.scss */
.footer_part .info {
  color: red !important;
}

/* line 75, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
.sample-text-area {
  background: #fff;
  padding: 100px 0 70px 0;
}

/* line 80, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

/* line 85, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
b,
sup,
sub,
u,
del {
  color: #ff3334;
}

/* line 93, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
h1 {
  font-size: 36px;
}

/* line 97, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
h2 {
  font-size: 30px;
}

/* line 101, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
h3 {
  font-size: 24px;
}

/* line 105, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
h4 {
  font-size: 18px;
}

/* line 109, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
h5 {
  font-size: 16px;
}

/* line 113, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
h6 {
  font-size: 14px;
}

/* line 117, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

/* line 127, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_elements.scss */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #828bb2;
}

/* line 130, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
.slider-nav-thumbnails .slick-slide {
  margin: 300px 0px 20px;
}

@media (max-width: 991px) {
  /* line 130, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
  .slider-nav-thumbnails .slick-slide {
    margin: 30px 0px 20px;
  }
}

/* line 139, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
.slider-nav-thumbnails .slick-slide img {
  width: 120px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  /* line 139, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
  .slider-nav-thumbnails .slick-slide img {
    width: 60px;
  }
}

/* line 152, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
.slider-nav-thumbnails {
  z-index: 99;
}

/* line 155, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
.slider-nav-thumbnails .slick-center {
  opacity: 1;
}

/* line 158, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
.slider-nav-thumbnails .slick-center img {
  width: 200px;
  margin: 0 auto;
  margin-top: -290px;
  float: none;
}

@media (max-width: 991px) {
  /* line 158, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
  .slider-nav-thumbnails .slick-center img {
    margin-top: -25px;
    width: 100px;
  }
}

/* line 176, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
.slider .slick-list {
  margin-top: -297px;
  background-color: #f7f7f7;
}

@media (max-width: 991px) {
  /* line 176, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
  .slider .slick-list {
    margin-top: 0;
  }
}

/* line 187, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
.slider .client_review_text {
  padding: 100px 50px;
}

@media (max-width: 991px) {
  /* line 187, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
  .slider .client_review_text {
    padding: 30px 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 187, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
  .slider .client_review_text {
    padding: 100px 50px 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  /* line 187, ../../01 cl html template/New folder/May 2019/178 Real Estate/Real Estate Html/sass/_review.scss */
  .slider .client_review_text {
    padding: 100px 50px 25px;
  }
}
